<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Конвертер валют</title>
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} "/>
    </head>
    <body>
        <div th:if="${param.error}">
            Неверное имя пользователя или пароль
        </div>
        <div th:if="${param.logout}">
            Вы вышли из л.к.
        </div>
        <div><label>История</label></div>
        <form action="#" th:action="@{/converter/history}" th:object="${converter}" method="post">
            <input type="date" th:field="*{date}" id="dateStarted"/>
            <select class="form-control input-sm" id="dropCurrency3" th:field="*{sourceCurrId}">
                <option value="">Выберите валюту</option>
                <option th:each="currency : ${currencies}" th:value="${currency.valuteId}" th:text="${currency.name}"></option>
            </select>
            <select class="form-control input-sm"id="dropCurrency4" th:field="*{targetCurrId}">
                <option value="">Выберите валюту</option>
                <option th:each="currency : ${currencies}" th:value="${currency.valuteId}" th:text="${currency.name}"></option>
            </select>
            <div><input type="submit" value="Поиск"/></div>
        </form>
        <table>
            <tr>
                <th>Исходная валюта</th>
                <th>Целевая валюта</th>
                <th>Исходная сумма</th>
                <th>Получаемая сумма</th>
                <th>Дата</th>
            </tr>
            <tr th:each="h : ${histories}">
                <td th:text="${h.sourceCurrency.charCode + '(' + h.sourceCurrency.name + ')'}"></td>
                <td th:text="${h.targetCurrency.charCode + '(' + h.targetCurrency.name + ')'}"></td>
                <td th:text="${h.sourceSum}"></td>
                <td th:text="${h.targetSum}"></td>
                <td th:text="${h.date}"></td>
            </tr>
        </table>
        <form action="#" th:action="@{/converter/}" method="post">
            <div><input type="submit" value="Конвертер"/></div>
        </form>

    </body>
</html>
