<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Конвертер валют</title>
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} "/>
    </head>
    <body>
        <div th:if="${param.error}">
            Неверное имя пользователя или пароль
        </div>
        <div th:if="${param.logout}">
            Вы вышли из л.к.
        </div>
        <div>
            <label>История</label>
        </div>
        <form action="#" th:action="@{/converter/}" th:object="${converter}" method="post">
            <input type="date" th:field="*{date}" id="dateStarted"/>
            <select class="form-control" id="dropCurrency1" th:field="*{currAId}">
                <option value="">Выберите валюту</option>
                <option th:each="currency : ${currencies}" th:value="${currency.id}" th:text="${currency.name}"></option>
            </select>
            <select class="form-control" id="dropCurrency2" th:field="*{currBId}">
                <option value="">Выберите валюту</option>
                <option th:each="currency : ${currencies}" th:value="${currency.id}" th:text="${currency.name}"></option>
            </select>
            <div><input type="submit" value="Поиск"/></div>
        </form>
        <form action="#" th:action="@{/converter/}" method="post">
            <div><input type="submit" value="Конвертер"/></div>
        </form>

    </body>
</html>
